.ind {
    border:2px solid #000;
    width:468px;
}
.row {
    margin-top:20px;
    margin-left:40px;
    margin-bottom:20px;
    display: flex;

}
.first {
    width: 30px;
    height: 30px;
    border:2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second {
    width: 250px;
    height: 30px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}
.third {
    width: 100px;
    height: 30px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}
.btn {
    width: 100px;
    height: 30px;
    background: #339966;
    color:#fff;
    border:2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-top:10px;
    margin-left: 327px;
    margin-bottom: 10px;
    cursor: pointer;
}