.part1  {
    width: 620px;
    height:260px;
    display: flex;
    flex-wrap: wrap;
}
.part1-hide {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    display: none;
}
.part1-box {
    width: 99px;
    height: 99px;
    background: #C0C0C0;
    margin:10px;
    border:1px solid #2F2F2F;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor:pointer;
}
.big {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}