.container-fluid{
    width: 1079px;
}
.head {
    height: 60px;
    background: #008DEF;
    display: flex;
    /*padding:0;*/
}
.head-left {
    height: 60px;
    display: flex;
    font-size: 12px;
    line-height: 22px;
    color: white;
    margin-top: 30px;
    /*padding:0;*/
}
.head-firstpage {
    width: 30px;
    height: 22px;
    background: #0069B4;
    border-radius: 2px;
    /*padding: 0;*/
    text-align: center;
    cursor: pointer;
}
.head-seat {
    cursor: pointer;
    /*padding:0;*/
}
.head-read {
    cursor: pointer;
    /*padding:0;*/
}
.head-idea {
    cursor: pointer;
    /*padding:0;*/
}
.head-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.head-word {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    color: white;
    margin-top: -10px;
    cursor: pointer;
    /*padding:0;*/
}
.head-search {
    width: 100%;
    height: 16px;
    background: #fff;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    /*padding:0;*/
}
.head-right-first {
    height: 14px;
    background: #F9F9F9;
    line-height: 14px;
    margin-left: 1px;
    font-size: 12px;
    cursor: pointer;
}
.fa-search {
    color: #666666;
    margin-right:5px;
    cursor: pointer;
    /*padding:0;*/
}
.two {
    height: 300px;
    display: flex;
    margin-top: 25px;
    /*padding:0;*/
}
.two-left {
    height: 280px;
    display: flex;
    flex-direction: column;
    /*padding: 0;*/
}
.two-right {
    height:280px;
    display: flex;
    flex-direction: column;

}
.two-left-block {
    height: 240px;
    background: #666666;
    border:2px solid #DFDFDF;
}
.two-right-block {
    height: 240px;
    background: #F4F4F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.two-bottom-word {
    margin-top: 10px;
}
.two-right-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.two-bottom-more {
    margin-top: 10px;
    color: #6E6E6E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    cursor: pointer;
}
.two-bottom-more i {
    margin-left: 5px;
}
.two-right-top {
    width: 100%;
    height: 66.66667%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.two-right-top div {
    margin-top: 25px;
}
.two-right-tblo {
    width: 50%;
    height: 20%;
    background: #009DFF;
    border-radius: 3px;

}
.two-right-mid {
    width: 80%;
    height: 33.3333%;
    border-top: 2px dashed #D0D0D0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.two-mid-num {
    color: #6BC9EB;
    font-size: 14px;
}
.two-mid-word {
    font-size: 14px;
    margin-left: 3px;
}
.mid-row {
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.three {
    /*padding:0;*/
    display: flex;
}
.three-left {
    display: flex;
    flex-direction: column;
    /*border:1px solid #DFDFDF;*/
    /*padding:0; */
}
.three-right {
    display: flex;
    flex-direction: column;
}
.three-left1 {
    height: 181px;
    border: 1px solid #DFDFDF;
    display: flex;
    padding: 0;
}
.three-left1-left {
    height: 180px;
    border-right:1px solid #DFDFDF;
}
.three-left2-left {
    height: 180px;
    border-right:1px solid #DFDFDF;
    padding: 0;
}
.three-left1-right {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.three-left1-lefttitle {
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 15px;
}
.three-left1-textindent {
    text-indent:25px;
    word-wrap:break-word;
    word-break:normal;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 13px;
    color: #868484;
}
.model-reanddi {
    font-size: 12px;
    color: #9C9EA0;
    margin-left: 10px;
    margin-top: 15px;
}
.model-reanddi-one {
    font-size: 12px;
    color: #9C9EA0;
    margin-left: 10px;
    margin-top: 35px;
}
.model-reanddi-two {
    font-size: 12px;
    color: #9C9EA0;
    margin-left: 10px;
}
.model-reanddi-three {
    font-size: 12px;
    color: #9C9EA0;
    margin-left: 10px;
    margin-top: 30px;
}
.model-reanddi-five {
    font-size: 12px;
    color: #9C9EA0;
    display: flex;
    justify-content: flex-end;
}
.model-reanddi-six {
    font-size: 12px;
    color: #9C9EA0;
    display: flex;
    justify-content: flex-end;
}
.model-reanddi-7 {
    font-size: 12px;
    color: #9C9EA0;
    margin-left: 13px;
    margin-top: 10px;
}

.model-reanddi-mid {
    margin-left: 4px;
    margin-right: 4px;
}
.three-left1-right-top {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}
.left1-right-img {
    width: 90%;
    height: 100px;
    background: #666666;
    margin-left: 10px;
    margin-right: 10px;
    border:2px solid #DFDFDF;
}
.left3-img {
    height: 150px;
    background: #666666;
    margin-left: 10px;
    margin-right: 10px;
    border:2px solid #DFDFDF;
}
.three-left1-right-mid {
    margin-left:11px;
    margin-top: 3px;
    /*font-weight: bold;*/
}
.left1-left {
    margin-top: 5px;
}
.three-left2 {
    display: flex;
    height: 150px;
}
.three-left4 {
    display: flex;
    height: 180px;
}
.ppt-img {
    width: 30px;
    height: 15px;
    background:#FC8F25;
    font-size: 12px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 15px;
    margin-left: 10px;
    margin-top:7px;
}
.three-left2-module {
    /*width: 33.3333%;*/
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-content: center;*/
    border-left: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
}
.three-left4-module {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #DFDFDF;
    border-left: 1px solid #DFDFDF;

}

.three-left2-module2 {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-right: 1px solid #DFDFDF;
    /*border-left: 1px solid #DFDFDF;*/
    border-bottom: 1px solid #DFDFDF;
}
.three-left4-module2 {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
    border-left: 1px solid #DFDFDF;

}
.three-left2-top {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*margin-top: 5px;*/
}
.three-left3 {
    height: 240px;
    margin-top: 30px;
    display: flex;
}
.three-left3-left{
    /*width: 50%;*/
    height: 240px;
    border-bottom:1px solid #DFDFDF;
    border-left:1px solid #DFDFDF;
    border-right:1px solid #DFDFDF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.three-left3-right{
    height: 240px;
    border-bottom:1px solid #DFDFDF;
    border-right:1px solid #DFDFDF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.circle {
    width: 20px;
    height: 20px;
    background-color:black;
    border-radius: 50%;
    border: 1px solid white;
    margin-top: 70px;
    margin-left: 6px;
}
.fa-caret-right {
    color: white;
    position: relative;
    z-index: 2;
    margin-left: 8px;
    margin-top: -1px;
}
.three-left5 {
    display: flex;
    height: 180px;
    border-bottom:1px solid #DFDFDF;
    border-left:1px solid #DFDFDF;
    border-right:1px solid #DFDFDF;

}
.three-left5-1 {
    width: 33.333333%;
    height:180px;
    margin-top: 15px;
}
.three-left5-2 {
    width: 66.666667%;
    height: 180px;
}
.three-left6 {
    /*width: 100%;*/
    height: 180px;
    border-left:1px solid #DFDFDF;
    border-right:1px solid #DFDFDF;
}
.three-right1 {
    width: 100%;
    height: 220px;
    border-bottom:4px solid #008DEF;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
    border-left: 1px solid #DFDFDF;
}
.three-right2 {
    width: 100%;
    height: 220px;
    border-bottom:4px solid #008DEF;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
    border-left: 1px solid #DFDFDF;
    margin-top: 10px;
}
.three-right3 {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid #DFDFDF;
    margin-top: 10px;
    align-items: center;
}
.img-label {
    margin-left:160px;
    margin-top: 2px;
    color: white;
    text-align: center;
    height: 18px;
    width: 86px;
    line-height: 18px;
    font-size: 10px;
    border-bottom: 18px solid #008DEF;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    transform: rotate(45deg);
    display: flex;
    justify-content: flex-end;
}
.three-right-img {
    height: 100px;
    background: #666666;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border:2px solid #DFDFDF;
}
.three-right1-word {
    margin-left:11px;
    margin-top: 6px;
    font-weight: bold;
}
.three-right-time {
    display: flex;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 12px;
    color: #868484;
    align-items: center;
}
.three-right-time span {
    margin-right: 5px;
}
.time-mid {
    margin-top: -4px;
}
.three-right1-word2 {
    margin-left:10px;
    color: #868484;
    margin-top: 5px;
    font-size: 12px;
}
.three-right3-top {
    width: 90%;
    height: 25%;
    display: flex;
    border-bottom: 1px dashed #DFDFDF;
    justify-content: space-between;
    align-items: center;
}
.three-right3-bottom {
    width: 100%;
    height: 66.666667%;
    display: flex;
    justify-content: center;
}
.blueword {
    color:#24A2F5;
}
.three-right3-bottomimg {
    width: 50%;
    height: 90px;
    background: #666666;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    border:2px solid #DFDFDF;
}
.hid {
    height: 25px;
    background: #000;
    font-size: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 61px;
}
.con-lable {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 40px;
}
