html, body {
    width: 100%;
    height: 100%;
}
#myMap {
    height: 100%;
    width: 75%;
}
#HZNU-Hotel {
    position: absolute;
    display: inline-block;;
    top:0;
    left: 75%;
    width: 25%;
    overflow-y:auto;
    height:100%;
}
.button1 {
    position: absolute;
    display: inline-block;;
    top:60px;
    left: 65%;
    width: 80px;
    height: 20px;
    font-size: 11px;
}
.button2 {
    position: absolute;
    display: inline-block;;
    top:80px;
    left: 65%;
    width: 90px;
    height: 20px;
    font-size: 11px;
}
.sel_body_name {
    height: 30px;
}