.box {
	width:200px;
	height:150px;
	background: #ccc;
	/*position: relative;*/
	margin:20px;
	border-radius:10px;
}
.box:before {
	content:"" ;
	display:block;
	clear:both;
	position: relative;
	width: 0;
	height:0;
	left:200px;
	top:15px;
	border:10px transparent solid;
	border-left:10px solid black;
	/*border-radius:1px;*/
}